/* Don't change the existing CSS. */
body{
  padding: 10px;
  color: violet;
  margin-top: 10px;
  margin-left: 10px;

}

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}