/* Don't change the existing CSS. */
.outerbox{
  
  border: 10px solid rgb(174, 6, 134);

}

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
.white-text{
  color: white;

  background-color: red;
}
